.frame{
    padding: 3%;
    background-color: white;
    height: 100%;
}

.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-right: 40%;
}

.innerblock{
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.big-word{
    font-size: xx-large;
    display: inline-block;
    color: aquamarine;
    font-weight: bolder;
}
.med-word{
    font-size: x-large;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.thin-column{
    margin-left: 20%;
    margin-right: 20%;
}

.projectholder{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
}
.projectcolumn{
    width: 50%;
    margin: 1%;
}

.projectdisplay{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    height: 400px;
    margin: 3%;
    perspective: 1000px;
}

.flip-display{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 2px 2px 3px black;
}
.projectdisplay:hover .flip-display {
    transform: rotateY(180deg);
}

.flip-front, .flip-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-front {
    background-color: #bbb;
    color: black;
}

.flip-back{
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    width:100%;
}
.back-text{
    margin: 5%;
}


.projectimage{
    margin: 0%;
}

img {
    height: 100%;
    width: 100%; /* ie8 */
    object-fit: cover;
}



